.container {
    padding: 1rem;
    width: 45rem;
    height: 40rem;
    margin-left: 10rem;
    margin-right: 11rem;
    overflow: scroll;
  }
  
  .container label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .container input {
    font: inherit;
    display: block;
    width: 50%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }

  .container input:focus {
    outline: none;
    border-color: #4f005f;
  }

  .container .data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container .data input {
    width: 280px;
  }

  .container .data span {
    margin-right: 10rem;
  }

  @media only screen and (max-width: 720px) {
    .container {
      overflow: visible;
      width: 80%;
      height: 50rem;
      margin-left: 90px;
    }
  }