.container {
  border-radius: 5px;
  border-style:ridge;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-auto-rows: 5rem;
}

.info {
    padding: 1rem; 
    font-size: 15px;
}
  