.placeholder {
    padding: 1rem;
    width: 45rem;
    height: 20rem;
    margin-left: 10rem;
    margin-right: 11rem;
}

@media only screen and (max-width: 720px) {
    .placeholder {
      width: 80%;
      height: 50rem;
      margin-left: 90px;
    }
  }