.cost-models {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cost-models li {
  flex: 1 1 auto;
  border-bottom: 2px solid #df8908;
}

.cost-models li h3 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.cost-models li Button {
  margin-left: 30rem;
}